<section id="TopBannerMessage" class="hide is-moved-by-drawer international-site">
  <div class="grid no-margin">
    <div class="grid__item small--eleven-twelfths medium--eleven-twelfths large--eleven-twelfths no-padding">
      <p class="text-center m-t-sm">
        We use cookies to give you the best experience possible. By continuing we’ll assume you’re on board with our
        <a class="thin-u-l" href="/pages/privacy-policy">cookie policy</a>.
      </p>
    </div>
    <div class="grid__item small--one-twelfth medium--one-twelfth large--one-twelfth no-padding">
      <span class="icon-fallback-text right pos-rlt">
        <a class="close-message pos-rlt text-md-lg" href="javascript:void(0)">
          <span class="icon icon-circle-cross"></span>
          <span class="fallback-text">X</span>
        </a>
      </span>
    </div>
  </div>
</section>
