<section class="grid" id="TermsTableContent">
  <article class="grid__item large--one-whole m-v">
    <h4>Table of contents: </h4>
    <ol>
      <li>
        <a class="thin-u-l" href="#Term1">Acceptance of Our Terms</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term2">Membership & Eligibility (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term3">Earning and Redeeming Program Perks (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term4">Pure Enthusiast (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term5">Pure Activist  (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term6">Pure Revolutionist (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term7">Pure Revolutionist Free Upgraded Standard Shipping Offer (United States Only)</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term8">Agreeing to 100% PURE<sup>®</sup>'s Privacy Policy & Email</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term9">Changes, Termination And/Or Removal From Program</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term10">Limitation of Liability</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term11">Copyright</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term12">Trademarks</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term13">Warranty Disclaimer</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term14">Typographical Errors</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term15">Term Termination</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term16">Notice</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term17">Use of Site</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term18">Participation Disclaimer</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term19">Indemnification</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term20">Third-Party Links</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term21">Governing Law and Jurisdiction</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term22">DISPUTE RESOLUTION; INFORMAL RESOLUTION AND FORMAL RESOLUTION BY ARBITRATION/CLASS ACTION WAIVER</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term23">Limited Time to File Claims</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term24">Exclusions and Limitations; Consumer Protection Notice</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term25">Digital Millennium Copyright Act</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term26">Additional Information on the Program</a>
      </li>
      <li>
        <a class="thin-u-l" href="#Term27">Gift Card</a>
      </li>
    </ol>
  </article>
</section>
