<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" version="1.1" class="{{additionalClass}}" style="{{additionalStyle}}fill:{%- if iconColor -%}{{iconColor}}{%- else -%}#333333{%- endif -%}"><title>Star</title><polygon class="cls-1" points="50 0 65.45 32.92 100 38.2 75 63.82 80.9 100 50 82.92 19.1 100 25 63.82 0 38.2 34.55 32.92 50 0"/></svg>
{% assign additionalClass = "" %}{% assign iconColor = nil %}{% assign additionalStyle = nil %}
