<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 80" version="1.1" class="{{additionalClass}}" height="{{svgHeight}}"><title>currency BGN</title><g fill-rule=evenodd id=Page-1 fill=none stroke=none stroke-width=1><g fill-rule=nonzero id=BGN><rect fill=#496E2D height=80 id=Rectangle width=120 x=0 y=0></rect><rect fill=#FFFFFF height=27 id=Rectangle width=120 x=0 y=0></rect><rect fill=#D80027 height=27 id=Rectangle width=120 x=0 y=53></rect></g></g></svg>
{% assign additionalClass = '' %}{% assign svgHeight = '' %}
