<div class="modal fade" id="learnRewardsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close pull-right i-24" data-dismiss="modal" aria-label="Open">
                  <span class="mdi-content-clear"></span>
                </a>
                <h4 class="modal-title" id="myModalLabel">How to claim your perk reward</h4>
            </div>
            <div class="modal-body">
                <h5>1. Click "Claim Perk" for desired perk </h5>
                <h5>2. Copy discount code</h5>
                <h5>3. Enter the discount code at checkout</h5>
                <img style="border-radius:9px;border: solid 1px;" src="https://i.gyazo.com/b6396fea67b722ae2838a0ba88b93773.gif" alt="https://gyazo.com/b6396fea67b722ae2838a0ba88b93773">
            </div>
        </div>
    </div>
</div>
