<a href="#PerksFAQ" class="thin-u-l purity-pop text-lg main-font" pop-width="750px">FAQ</a>
<div id="PerksFAQ" class="hide">
  <div class="p m-v">
    <div class="h3 text-center m-t">Purist Perks FAQ</div>

    <div class="text-md font-bold m-b">What is Purist Perks?</div>
    <p>The Purist Perk program is our way of showing how much we appreciate you! You can earn points on reviews, purchases, and much more. Points can even be used to earn discounts toward purchases – that means the more you collect, the more you save!</p>

    <div class="text-md font-bold m-b">Who can join?</div>
    <p>Anyone can join the Purist Perk rewards program. Once you create an account, you will be automatically enrolled in the program.</p>

    <div class="text-md font-bold m-b">How do I earn points?</div>
    <p>You’ll earn points just for creating an account! After that, you can also earn points by following us on social media*, making purchases, writing product reviews, and more. To see all the ways you can earn points, click the “Earn Points” tab in the menu.</p>

    <div class="text-md font-bold m-b">How do I redeem my points?</div>
    <p>Select the “Get Vouchers” tab, located in the Purist Perk section of your account. If you have enough points, you can claim them for a redeemable voucher.</p>

    <div class="text-md font-bold m-b">What are redeemable vouchers?</div>
    <p>A redeemable voucher is a discount code for an amount off your purchase. To redeem, these voucher codes should be applied in the “discount code” section during checkout. Vouchers may not be combined or used with other discount codes or Purist Pro.</p>

    <div class="text-md font-bold m-b">*Why do I only have one option for a voucher?</div>
    <p>We want to reward our loyal 100% PURE™ shoppers. That’s why we now have unique voucher options that get better with each reward tier!</p>

    <div class="text-md font-bold m-b">Is there a maximum amount of points that I can learn?</div>
    <p>No, the sky's the limit!</p>

    <div class="text-md font-bold m-b">Does my Purist Perks tier ever change?</div>
    <p>We’ve changed the Purist Perk reward tiers, and lowered the threshold to qualify for the top two tiers effective January 1st, 2020. Because of this, you may have been promoted to an Activist or Revolutionist.</p>
    <p>Additionally, Purist Perk levels reset every 12 months from the date that the level was reached if you do not reach the required spend to maintain the threshold. For example, if you are a Pure Activist ($250 threshold), and EARN that level on August 8th, you have until August 8th the following year to reach the qualified spend level amount ($250) again – or your tier will reset to an Enthusiast. When you move up a tier, that erases your previous “earn date” and replaces it with the new date when you reached the newest tier. You have 12 months to maintain that newly acquired tier.</p>

    <div class="text-md font-bold m-b">How do I get points for writing a review?</div>
    <p>You will receive a product review email 15 days after making an online purchase. After responding to the review email, points will be applied to your account within the next 7 business days. </p>

    <div class="text-md font-bold m-b">How do I get points for following on social media?</div>
    <p>Simply log in to your account and go to the Purist Perks dashboard. Select the tab “Earn Points” and click on any of the social media outlets you wish to follow. Log in to that platform and “like” or follow us! If you already follow us, simply unfollow then follow again to get points for the action.</p>

    <div class="text-md font-bold m-b">Can I redeem my perks in a 100% PURE™ store?</div>
    <p>Yes. Purist Perk vouchers are redeemable both online and in-store.</p>

    <div class="text-md font-bold m-b">Why did my account balance go down?</div>
    <p>Your points have been converted to our new points system: $1= 1 point effective January 1st, 2020. Now, for example, if you had 500 points, you’ll now have 100 points. Your point balance can also go down if you cancelled or returned a purchase.</p>

    <div class="text-md font-bold m-b">What do the 'approved', 'pending' and 'cancelled' statuses mean?</div>
    <p>“Approved”: These points can immediately be redeemed for a discount voucher.</p>
    <p>“Pending”: These points need to be verified before they can be redeemed. This typically applies to purchases, reviews, and referrals. The approval period is 7 business days.</p>
    <p>“Cancelled”: These points will not be added to your total point balance. This will happen if you cancel a purchase; the points will accordingly change from “pending” to “cancelled”.</p>

    <div class="text-md font-bold m-b">Can I use my points during checkout?</div>
    <p>Your points must first be redeemed for a discount voucher, which can then be applied to your purchase total during checkout.</p>

    <div class="text-md font-bold m-b">How do I leave the program?</div>
    <p>If you no longer wish to earn points, please contact us to be disenrolled. Please note that any points accrued will be lost, and will no longer available should you decide to enroll again.</p>

    <div class="text-md font-bold m-b">Where can I report a problem or give feedback?</div>
    <p>You can give us a call at 1(844)787-3100 during our business hours: Monday-Friday 6 AM-5 PM Pacific Standard Time. Or you can email us anytime at customerservice@puritycosmetics.com. </p>

    <div class="text-md font-bold m-b">Are Purist Perk points refundable?</div>
    <p>No. Once Purist Perk points are redeemed, they are non-refundable.</p>

    <div class="text-md font-bold m-b">Can my voucher be used with a PRO account?</div>
    <p>No.</p>
  </div>
</div>
