
<div id="pp-social-share-block" class="grid__item m-v">
  <ul class="text-center">
    <li class="muted">
      <em>Share</em>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank">
        <span class="icon icon-facebook"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>

    <li>
      <a class="icon-fallback-text" href="http://twitter.com/share?url={{ canonical_url }}" target="_blank">
        <span class="icon icon-twitter"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}" target="_blank">
        <span class="icon icon-pinterest"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://plus.google.com/share?url={{ canonical_url }}" target="_blank">
        <span class="icon icon-google"></span>
        <span class="fallback-text">Google</span>
      </a>
    </li>
  </ul>
</div>
