<!-- /templates/404.liquid -->
{% comment %}
<!-- original 404 content -->
<h1>{{ 'general.404.title' | t }}</h1>
<p>{{ 'general.404.subtext_html' | t }}</p>
{% include 'SEOMetaManager-404' %}
{% endcomment %}
<section id="not-found-page">
  <div class="charming collection-banner__inner">
    <div class="medium-down--hide collection-banner--title max-width-50 text-center">
      <div class="content-center inline large--text-left p-l">
        <img src="{{ '404_Congrats.png' | file_img_url: 'master' }}" alt="Congrats">
        <br>
        <span class="text-md-lg inline l-s-1x main-font l-h-md sameline">
          It looks like you found the secret ingredient
          <br>
          to what's so special about our cosmetics -
          <br>
          they're colored from Fruit Pigments<span class="text-base v-sup">&reg;</span>!
        </span>
        <br>
        <a href="/" class="btn text-base p-l-lg p-r-lg no-borders m-t-md m-b">RETURN HOME</a>
        <br>
        <a href="/pages/purist-perks" class="b-b text-base l-s-2x l-h-2x alt-font">LET'S EXPLORE MORE SECRETS</a>
      </div>
    </div>
  </div>
  <div class="large--hide collection-banner--title four-fifths text-center margin-auto m-t-md">
    <div class="content-center inline large--text-left">
      <img src="{{ '404_Congrats.png' | file_img_url: 'master' }}" alt="Congrats">
      <br>
      <span class="text-md-lg inline l-s-1x main-font l-h-md">
        It looks like you found the secret ingredient
        to what's so special about our cosmetics -
        they're colored from Fruit Pigments<span class="text-base v-sup">&reg;</span>!
      </span>
      <br>
      <a href="/" class="btn text-base p-l-lg p-r-lg no-borders m-t-md m-b">RETURN HOME</a>
      <br>
      <a href="/pages/purist-perks" class="b-b text-base l-s-2x l-h-2x alt-font">LET'S EXPLORE MORE SECRETS</a>
    </div>
  </div>

  <!-- <div class="large--hide collection-banner--title max-width-50 text-center">
    <div class="content-center inline large--text-left">
      <span class="text-md l-h-2x inline l-s-1x main-font max-width-xlg">It looks like you found the secret ingredientto what's so special about our cosmetics -they're colored from Fruit Pigments&reg;!</span>
      <br>
      <a href="#" class="btn">RETURN HOME</a>
      <br>
      <a href="#" class="b-b text-base l-s-2x l-h-2x">SIGN UP FOR NEWSLETTER</a>
    </div>
  </div>-->

  <div class="banner404 width-70 brand-primary-border margin-auto">
    <div class="image-content-404">
      <div class="one-half text-center main-font right v-c medium-down--hide">
        <div class="inline">
          <span class="text-lg-xl sameline"><span class="italic">Healthy</span> Pigments, <span class="italic">Healthy</span> Skin</span>
          <br>
          <span class="text-md m-t-md inline">
            Pigments from Fruits Are What
            <br>
            Make Our Foundations <span class="italic">Better than the Rest</span>
          </span>
          <br>
          <a href="/collections/foundation-makeup" class="btn text-xs no-borders m-t-md">FIND YOUR SHADE</a>
        </div>
      </div>
    </div>

    <div class="text-center main-font large--hide center-text">
      <div class="inline">
        <span class="text-lg-xl"><span class="italic">Jealthy</span> Pigments, <span class="italic">Healthy</span> Skin</span>
        <br>
        <span class="text-md m-t-md inline">
          Pigments from Fruits Are What
          Make Our Foundations <span class="italic">Better than the Rest</span>
        </span>
        <br>
        <a href="#" class="btn text-xs p-l-lg p-r-lg no-borders m-t-md">FIND YOUR SHADE</a>
      </div>
    </div>
  </div>
</section>
