<header class="collection-banner__inner text-center bg-img medium-down--hide" aria-label="page banner" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/Collection-Banner/CP-Promise-Love')">
  <h1 class="page_title_text wrapper">Our 100% PURE<sup>™️</sup> Promise</h1>
</header>
<header class="collection-banner__inner text-center bg-img large--hide" aria-label="page banner" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/Collection-Banner/CP-Promise-Love-Mobile')">
  <h1 class="page_title_text wrapper">Our 100% PURE<sup>™️</sup> Promise</h1>
</header>
<article class="wrapper m-t large--m-t-xlg text-center">
  <section class="content_text large--four-fifths margin-auto">
    <p>
      We're purists: we believe you should be 100% satisfied with your beauty products.
      <br>
      Since our products are made with only the most nourishing ingredients, it’s easy to stand behind them. That being said, everyone deserves a perfect beauty experience; if a product isn’t the right fit for you, we will be here to help.
    </p>
  </section>
  <section class="grid m-t-lg large--m-t-xlg1 m-b-xlg">
    <div class="grid__item large--one-third medium-down--m-b">
      <div class="p-h-md p-t-lg p-b-xlg bg-peach same-height" same-height-id="promise-benefit">
        <p class="module_title_text m-b-md">100% Satisfaction</p>
        <p class="content_text">Love it or bring it back – pure and simple. We’ll take any product back within 45 days, even if it’s partly used. After a few weeks of use, you’ll know if it’s right for you – and if it isn’t, we’re happy to replace it with something else or issue a full refund.</p>
      </div>
    </div>
    <div class="grid__item large--one-third medium-down--m-b">
      <div class="p-h-md p-t-lg p-b-xlg bg-peach same-height pos-rlt" same-height-id="promise-benefit">
        <p class="module_title_text m-b-md">Free & Easy Returns</p>
        <p class="content_text">Returns are easy: simply click "Returns & Exchanges" at the bottom of any page. Enter your email, select the item(s) you want to return, and we'll print you a free return label*.</p>
        <p class="caption_s_text">*Free returns only available to customers in contiguous United States.</p>
        <div class="pos-abt left-0 bottom-0 w-full">
          <a href="https://100percentpure.com/pages/returns-and-exchanges" class="callout_text p-b inline">Returns & Exchanges <span class="caret-right"></span></a>
        </div>
      </div>
    </div>
    <div class="grid__item large--one-third pos-rlt medium-down--m-b">
      <div class="p-h-md p-t-lg p-b-xlg bg-peach same-height pos-rlt" same-height-id="promise-benefit">
        <p class="module_title_text m-b-md">Purist Rewards Program</p>
        <p class="content_text">Collect points and save! You can redeem points in the form of discount vouchers* at the 1,500 and 2,500 point thresholds. Redeem and apply your unique discount code in both the Purist Perks section of our website and in our retail stores. </p>
        <p class="caption_s_text">*Points cannot be redeemed for gift cards or sale items.</p>
        <div class="pos-abt left-0 bottom-0 w-full">
          <a href="/pages/purist-perks" class="callout_text p-b inline">LEARN MORE <span class="caret-right"></span></a>
        </div>
      </div>
    </div>
  </section>
</article>
