
<div class="wrapper">
  <div class="grid">
    <div class="grid__item one-whole text-center">
      <div class="text-container m-v-lg">
        <h1>Pure Community</h1>
        <p>Share your 100% PURE beauty - tag your photos with
          <a class="thin-u-l" href="https://www.instagram.com/explore/tags/100percentpure" target="_blank">#100percentpure</a>
        <p>
      </div>
    </div>
  </div>
</div>
<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="100-pure_1" data-open-links-in-same-page="false" data-theme="sizes_v2_5" data-page-size="28" data-connector-filter="30842,21961,21966"></script><style>.fs-has-links::after {  padding: 10px 15px; background-color: #fff; color: rgba(0,0,0,0.8); content: "SHOP IT";  }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 0px }</style>
<div class="wrapper">
  <div class="grid">
    <div class="grid__item large--one-whole text-center">
    	<div class="text-container margin-auto m-v-lg ">
        <p class="text-base">By using hashtag
          <a class="thin-u-l" href="https://www.instagram.com/explore/tags/100percentpure" target="_blank">#100percentpure</a> or
          <a class="thin-u-l" href="https://www.instagram.com/explore/tags/nodirtybeauty" target="_blank">#nodirtybeauty</a>, I hereby grant to 100% PURE (Purity Cosmetics), it subsidiaries, agents and affiliates, the unlimited worldwide, perpetual, unending right to use, reproduce, distribute, and convey my image/photograph in any format or medium now known or subsequently developed, to modify and edit my image/photograph, to combine my image/photograph with other images, video, audio, text and other media, to create derivative works incorporating, including or based on my image/photograph. This grant shall be construed broadly.
        </p>
      </div>
    </div>
  </div>
</div>
