<section class="row">
  <div class="page-header">
    <h1 class="m-t-md text-center">Product FAQs</h1>
  </div>
</section>
<section class="row">
  <div class="container">
    <div class="">
      <div class="card-body">
        <h3 class="m-t-lg">Why 100% PURE®?</h3>
        <blockquote>"As much as 60% of topical skin-care products are absorbed through the skin and into the bloodstream.
          <br /> They should be consumed with the same prudence that we use to choose our breakfast cereal."
          <br /> – Dr. Nancy Lonsdorf, April 2006 Issue of Women's Health Magazine.</blockquote>
          <p>There are many toxic chemicals in cosmetic products that have been clinically proven to cause cancer, tumors, irritation and many different skin disorders. 100% PURE® products are truly 100% pure: no synthetic chemicals, chemical preservatives, artificial fragrances, artificial colors, harsh detergents or any other unhealthy toxins.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Free Gift with Purchase.</h3>
          <p>
            Only <b>1</b> Free Gift product per customer order. Free Gift applied to total after any discounts.
          </p>
          <p>
            We unfortunately can not honor Gift with Purchase deals on previous unqualifying orders.
          </p>
          <p>
            While supplies last. No reservations.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Promotions.</h3>
          <p>
            Gift with Purchase does not count towards item count threshold.
          </p>
          <p>
            No discount will be applied to already discounted products such as Scent of the Month, Ingredient of the Month, Gifts, bundle sets, etc. But it will count towards the item count threshold.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Why not perfumes or fragrances?</h3>
          <p>Perfumes and fragrances are synthetic chemicals that do not have any medicinal or aroma therapeutic value. 100% PURE® products smell delicious because what you smell is real. The wonderful aromas in 100% PURE® products are from real fruits, pure essential oils, and pure absolutes. There are never any synthetic fragrances or anything artificial in 100% PURE® products.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Why not thickeners and emulsifiers?</h3>
          <p>Thickeners and emulsifiers are considered to be cheap fillers. 100% PURE® products are never diluted with water, alcohol, thickeners, emulsifiers or any other "fillers". Instead, 100% PURE® products are totally concentrated and perform at optimal level.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">100% PURE® products are based around antioxidants. Why are antioxidants so important?</h3>
          <p>Every moment, we are slowly deteriorating. Free radicals such as the sun, smog, smoke, cigarettes, etc. attack us, causing aging, wrinkles, and cancer. Only Antioxidants protect us by fighting off the damaging free radicals. Sun block is important because it blocks up to 80% of UV rays, but sun block does not protect against other free radicals. Your skin needs antioxidants for sun protection and protection against all damaging free radicals.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Since there are no preservatives, how long do your products last once I open them?</h3>
          <p>On each product, there is an open jar symbol with a number on it. That number indicates how long you can use the product once it is opened. Rather than using chemical preservatives, we use natural preservatives and anti-bacterial herbs. 100% PURE® has several other unique proprietary technologies that distinguish the company from competitors. We use unique technology to stabilize active ingredients from oxidizing and also have a proprietary 100% natural preservative system, using Japanese Honeysuckle, Thyme, Oregano, Goldenseal, Rosemary, Lavender and a high concentration of vitamins and antioxidants, to preserve all products.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">What does 100% PURE® Mean?</h3>
          <p>There are many toxic chemicals in cosmetic products that have been clinically proven to cause cancer, tumors, irritation and many different skin disorders. 100% PURE® products are truly 100% pure. That means there are no synthetic chemicals, chemical preservatives, artificial fragrances, artificial colors, harsh detergents or any other unhealthy toxins. Truly health food for your skin.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Is 100% PURE® Good for Sensitive Skin?</h3>
          <p>Because 100% PURE® does not contain harsh detergents, chemical preservatives, artificial fragrances that can irritate the skin, they are perfect for sensitive skin.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">What are Fruit Pigments?</h3>
          <p>Fruit pigments are what makes strawberries red, what makes bluenude skin blue - fruit pigments are fruit colors. All 100% PURE® cosmetics are colored from fruit and vegetable pigments. All the antioxidants and vitamins are found in the pigments. 100% PURE® fruit pigmented patent-pending technology takes those healthy fruit pigments and puts it into our cosmetics. That is why we have blacknude mascara (mascara colored from blackberries), pomegranate wine lip gloss (lip gloss colored from red wine and pomegranate) and crannude cheek tint (cheek tint colored from cranberries). The great thing with 100% PURE® fruit pigmented cosmetics is that you'll be applying all the healthy fruit antioxidants and fruit vitamins directly onto your skin.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Why are the body washes so thin?</h3>
          <p>Our shower gels do not contain water, gums, thickeners, emulsifiers, or any other cheap fillers. However, they are very foaming and work best with a bath net sponge!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Are your products gluten free? If so, where does the Vitamin E come from?</h3>
          <p>Most of our products are gluten free. We are sensitive to this since we know many people suffer from gluten allergies. One common ingredient that contains gluten is Vitamin E. But the Vitamin E we use is gluten free because it's derived from cold pressing rice bran.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Are the sugars, butters, and salts unrefined?</h3>
          <p>We only use the best, most organic ingredients in all of our products. Refining ingredients cause them to lose all nutrients and minerals. Therefore, all of our ingredients are completely unrefined and contain all of their natural benefits!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Do you use nano size titanium dioxide and zinc oxide in your sunscreen?</h3>
          <p>The titanium dioxide and zinc oxide are not nano particles. Our sunscreen is a physical sunblock which means it sits on top of the skin to physically protect against the sun. If they were nano particles, they would absorb into the skin, therefore be in-effective sunblock. Every batch of our sunblock is tested by a third party lab to ensure a minimum stated SPF.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="m-t-lg">Are your products safe for kids?</h3>
          <p>Since 100% PURE® products do not contain any synthetic chemicals, parabens, sulfates or harsh detergents, artificial fragrances or colors, phthalates, 100% PURE® is safe for kids to use.</p>
        </div>
      </div>
    </div>
  </section>
