<div class="grid">
<div class="grid__item large--one-whole">
  <div class="helper-list" style="border: 1px solid black;padding:20px">
    <h2>box-layout</h2>
    <div class="brand-bg-guava">background-color .brand-bg-guava</div>
    <div class="brand-bg-hightlight">background-color .brand-bg-hightlight</div>
    <div class="bg-white">background-color .bg-white</div>
    <div class="bg-light" style="padding-left:30px">background-color .bg-light
      <div class="lt">background-color .bg-light .lt</div>
      <div class="dk">background-color .bg-light .dk</div>
      <div class="bg">background-color .bg-light .bg</div>
    </div>
    <div class="bg-light lt">background-color .bg-light.lt !!!</div>
    <div class="bg-light dk">background-color .bg-light.dk !!!</div>
    <div class="bg-light bg">background-color .bg-light.bg !!!</div>

    <div class="bg-primary" style="padding-left:30px">background-color .bg-primary
      <div class="lt">background-color .bg-primary .lt</div>
      <div class="dk">background-color .bg-primary .dk</div>
      <div class="bg">background-color .bg-primary .bg</div>
    </div>
    <div class="bg-primary lt">background-color .bg-primary.lt !!!</div>
    <div class="bg-primary dk">background-color .bg-primary.dk !!!</div>
    <div class="bg-primary bg">background-color .bg-primary.bg !!!</div>

    <div class="bg-success" style="padding-left:30px">background-color .bg-success
      <div class="lt">background-color .bg-success .lt</div>
      <div class="dk">background-color .bg-success .dk</div>
      <div class="bg">background-color .bg-success .bg</div>
    </div>
    <div class="bg-success lt">background-color .bg-success.lt !!!</div>
    <div class="bg-success dk">background-color .bg-success.dk !!!</div>
    <div class="bg-success bg">background-color .bg-success.bg !!!</div>

    <div class="bg-info" style="padding-left:30px">background-color .bg-info
      <div class="lt">background-color .bg-info .lt</div>
      <div class="dk">background-color .bg-info .dk</div>
      <div class="bg">background-color .bg-info .bg</div>
    </div>
    <div class="bg-info lt">background-color .bg-info.lt !!!</div>
    <div class="bg-info dk">background-color .bg-info.dk !!!</div>
    <div class="bg-info bg">background-color .bg-info.bg !!!</div>

    <div class="bg-warning" style="padding-left:30px">background-color .bg-warning
      <div class="lt">background-color .bg-warning .lt</div>
      <div class="dk">background-color .bg-warning .dk</div>
      <div class="bg">background-color .bg-warning .bg</div>
    </div>
    <div class="bg-warning lt">background-color .bg-warning.lt !!!</div>
    <div class="bg-warning dk">background-color .bg-warning.dk !!!</div>
    <div class="bg-warning bg">background-color .bg-warning.bg !!!</div>

    <div class="bg-danger" style="padding-left:30px">background-color .bg-danger
      <div class="lt">background-color .bg-danger .lt</div>
      <div class="dk">background-color .bg-danger .dk</div>
      <div class="bg">background-color .bg-danger .bg</div>
    </div>
    <div class="bg-danger lt">background-color .bg-danger.lt !!!</div>
    <div class="bg-danger dk">background-color .bg-danger.dk !!!</div>
    <div class="bg-danger bg">background-color .bg-danger.bg !!!</div>

    <div class="bg-accent" style="padding-left:30px">background-color .bg-accent
      <div class="lt">background-color .bg-accent .lt</div>
      <div class="dk">background-color .bg-accent .dk</div>
      <div class="bg">background-color .bg-accent .bg</div>
    </div>
    <div class="bg-accent lt">background-color .bg-accent.lt !!!</div>
    <div class="bg-accent dk">background-color .bg-accent.dk !!!</div>
    <div class="bg-accent bg">background-color .bg-accent.bg !!!</div>

    <div class="bg-peach">background-color .bg-peach</div>
    <div class="bg-lt-gauva">background-color .bg-lt-gauva</div>
    <div class="no-bg">background-color .no-bg</div>

    <div class="brand-primary-border">border .brand-primary-border</div>
    <div class="b">border .b !!!</div>
    <div class="b-a">border .b-a/-t/-l/-r/-b  all/top/left/right/bottom</div>
    <div class="b-a b-light">border .b-a.b-light</div>
    <div class="b-a b-white">border .b-a.b-white</div>
    <div class="b-a b-primary">border .b-a.b-primary  /.b-t/r/b/l-primary</div>
    <div class="b-a b-info">border .b-a.b-info  /.b-t/r/b/l-info</div>
    <div class="b-a b-success">border .b-a.b-success  /.b-t/r/b/l-success</div>
    <div class="b-a b-warning">border .b-a.b-warning  /.b-t/r/b/l-warning</div>
    <div class="b-a b-danger">border .b-a.b-danger  /.b-t/r/b/l-danger</div>
    <div class="b-a b-accent">border .b-a.b-accent  /.b-t/r/b/l-accent</div>
    <div class="b-a b-dark">border .b-a.b-dark  /.b-t/r/b/l-dark</div>

    <div class="box-shadow">box-shadow .box-shadow</div>
    <div class="box-shadow-md">box-shadow .box-shadow-md</div>
    <div class="box-shadow-lg">box-shadow .box-shadow-lg</div>
    <div class="box-shadow-inset">box-shadow .box-shadow-inset</div>







    <h2>font style</h2>
    <div class="main-font">font "Times New Roman" .main-font</div>
    <div class="alt-font">font "Avenir Next Demi" .alt-font</div>
    <div class="alt-font-regular">font 'Avenir Next Regular' .alt-font-regular</div>
    <div class="brand-primary">font-color .brand-primary</div>
    <div class="brand-deep-guava">font-color .brand-deep-guava</div>

    <div class="text-gauva">font-color .text-gauva</div>
    <div class="text-primary-lt">font-color .text-primary-lt</div>
    <div class="text-primary-dk">font-color .text-primary-dk</div>

    <div class="text-info">font-color .text-info</div>
    <div class="text-info-lt">font-color .text-info-lt</div>
    <div class="text-info-dk">font-color .text-info-dk</div>

    <div class="text-success">font-color .text-success</div>
    <div class="text-success-lt">font-color .text-success-lt</div>
    <div class="text-success-dk">font-color .text-success-dk</div>

    <div class="text-warning">font-color .text-warning</div>
    <div class="text-warning-lt">font-color .text-warning-lt</div>
    <div class="text-warning-dk">font-color .text-warning-dk</div>

    <div class="text-danger">font-color .text-danger</div>
    <div class="text-danger-lt">font-color .text-danger-lt</div>
    <div class="text-danger-dk">font-color .text-danger-dk</div>

    <div class="text-accent">font-color .text-accent</div>
    <div class="text-accent-lt">font-color .text-accent-lt</div>
    <div class="text-accent-dk">font-color .text-accent-dk</div>

    <div class="text-dark">font-color .text-dark</div>
    <div class="text-dark-lt">font-color .text-dark-lt</div>
    <div class="text-dark-dk">font-color .text-dark-dk</div>

    <div class="text-white bg-dark">font-color .text-white /under .bg-dark</div>
    <div class="text-white-lt bg-dark">font-color .text-white-lt /under .bg-dark</div>
    <div class="text-white-dk bg-dark">font-color .text-white-dk /under .bg-dark</div>

    <div class="text-black">font-color .text-black</div>
    <div class="text-black-lt">font-color .text-black-lt</div>
    <div class="text-black-dk">font-color .text-black-dk</div>

    <div class="text-brand">font-color .text-brand</div>
    <div class="text-shadow">text-shadow .text-shadow</div>





    <h2>Element</h2>
    <a>clean element a</a>
    <br>
    <button>clean element button</button>
    <br>
    <label>clean element label</label>
    <br>
    <label for="" class="label">class label</label>
    <br>
    <label for="" class="label label-default">class .label.label-default</label>
    <br>
    <label for="" class="label label-primary">class .label.label-primary</label>
    <br>
    <label for="" class="label label-success">class .label.label-success</label>
    <br>
    <label for="" class="label label-info">class .label.label-info</label>
    <br>
    <label for="" class="label label-warning">class .label.label-warning</label>
    <br>
    <label for="" class="label label-danger">class .label.label-danger</label>
    <br>
    <label for="" class="label label-new">class .label.label-new</label>
    <br>
    <button type="button" name="button" class="btn">class .btn</button>
    <br>

    <button type="button" name="button" class="btn-primary">class .btn-primary</button>
    <br>

    <button type="button" name="button" class="btn-default">class .btn-default</button>
    <br>

    <button type="button" name="button" class="btn-alternate">class .btn-alternate</button>
    <br>

    <button type="button" name="button" class="btn-secondary">class .btn-secondary</button>
    <br>

    <button type="button" name="button" class="btn-tertiary">class .btn-tertiary</button>
    <br>

    <button type="button" name="button" class="btn-quaternary">class .btn-quaternary</button>
    <br>

    <button type="button" name="button" class="btn__main">class .btn__main</button>
    <br>

    <button type="button" name="button" class="btn__bg-white--primary">class .btn__bg-white--primary</button>
    <br>

    <button type="button" name="button" class="btn__bg-white--secondary">class .btn__bg-white--secondary</button>
    <br>

    <button type="button" name="button" class="btn__bg-filled--primary">class .btn__bg-filled--primary</button>
    <br>

    <button type="button" name="button" class="btn__bg-filled--secondary">class .btn__bg-filled--secondary</button>
    <br>

    <button type="button" name="button" class="btn__no-border--primary">class .btn__no-border--primary</button>
    <br>

    <button type="button" name="button" class="btn__no-border--secondary">class .btn__no-border--secondary</button>
    <br>

    <button type="button" name="button" class="btn"> <label for="" class="label">class .btn .label</label>class .btn /w label</button>
    <br>
    <button type="button" name="button" class="btn disabled">class .disabled /w .btn</button>
    <br>
    <span class="right-arrow">span .right-arrow</span>
  </div>
</div>
<div class="">
  {%- include 'icon-about-us-completely-cruelty-free.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-about-us-guaranteed-pure.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-about-us-ingredient-sourcing.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-about-us-naturally-pigmented.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-affiliate-1.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-affiliate-2.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-affiliate-3.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-affiliate-4.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-arrow.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-dog.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-donate.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-give.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-grow.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-partner.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-shop.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-charity-tree.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-BGN.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-CAD.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-CHF.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-DKK.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-EUR.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-GBP.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-HUF.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-PLN.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-SEK.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-currency-USD.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-leaf.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-account.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-facebook.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-gift.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-instagram.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-review.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-tier.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-perk-twitter.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-slide-arrow.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-star.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-step-arrow.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-event.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-facial.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-makeover.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-pickup.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-spa.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
  {%- include 'icon-store-video.svg.liquid', additionalClass: 'w-xs m-b-sm' -%}
</div>
</div>
