<div class="large--p-v bg-img" style="background-image: url('https://cdn.no-toxic.com/image/fetch/q_auto:best,f_auto,fl_lossy,c_limit,dpr_auto/https:{{ 'landing_page_1.png' | file_img_url: '2048x' | format: 'pjpg' }}')">
  <div class="wrapper p-v-lg large--m-v-lg">
    <div class="margin-auto max-width-lgx5 bg-white large--m-v-lg b-shadow text-center brand-primary-border">
      <div class="p-h-xlg p-t-xlg">
        <h1 class="page_title_text texgt-center m-b-lg">Daily Specials on<br>Clean Beauty</h1>
        <p class="caption_text p-h m-b-lg">To celebrate the spirit of Spring cleaning, we'll be offering daily deals on clean beauty products! </p>
        <p class="module_title_text p-h m-b-xlg">Sign up below to get daily offers!</p>
      </div>
      <form action="http://e.100percentpure.com/public/webform/process/" method="post">
        <input type="hidden" name="fid" value="d62n6upjherp47xztllig9ara22d3" />
        <input type="hidden" name="sid" value="837f41b2362c87c05774c4221064d1f5" />
        <input type="hidden" name="delid" value="" />
        <input type="hidden" name="subid" value="" />
        <input type="hidden" name="td" value="" />
        <input type="hidden" name="formtype" value="addcontact" />
        <script type="text/javascript">
          var fieldMaps = {};
        </script>
        <div class="max-width-lg margin-auto p">
          <input class="w-full no-b-t no-b-l no-b-r no-padding-l b-light box-shadow m-b-xlg" type="text" size="35" name="46148" value="" placeholder="Email Address"/>
        </div>
        <input class="btn btn-secondary w-full p-v" type="submit" value="SUBSCRIBE NOW" />
        <input class="hide" type="checkbox" name="46151[955037]" value="true" checked="checked" />
      </form>
    </div>
  </div>
</div>
