<!-- /templates/page.liquid -->
<div class="grid wrapper">

  <div class="grid__item large--one-whole page-content">

            {% include "_page.menu" %}

            <h1 class="text-center">100% PURE&reg; isn't just a name, or a business well run.</h1>
            <div class="grid m-b-md">
              <div class="grid__item large--one-whole text-center">
                <p>It's our mission is to evangelize the pitfalls of traditional cosmetics; skin and hair care<br />while educating the world about healthier choices.</p>
                <br />
                <p>And craft the purest & highest  performing beauty products on the planet.</p>
              </div>
            </div>

              <div class="grid">
                <div class="grid__item large--one-whole no-padding page-content">
                      <div class="grid__item large--one-half small--one-whole">
                        <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/beauty1-min.jpg?18006327683254113471" class="our-story-image-1 " border="0" alt="" />
                      </div>
                      <div class="grid__item large--one-half medium--one-whole">
                        <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/beauty2-min.jpg?18006327683254113471" border="0" alt="" />
                      </div>
                  </div>
              </div>

              <div class="grid__item large--one-whole text-center name-title m-t-md">
                Our Founders
              </div>

              <h2  class="grid__item large--one-whole text-center m-b-lg">Susie Wang</h2>

              <div class="grid m-b-lg">
                  <div class="grid__item large--one-half no-padding">
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/susie_placeholder.jpg?176239709344006161" class="our-story-image-3 margin-auto" border="0" alt="Picture of Susie Wang" />
                  </div>
                  <div class="grid__item large--one-half">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/signature.jpg?15331262972050513304" class="our-story-signature" border="0" alt="Susie Wang's signature"/>
                  </div>
              </div>


              <div class="grid large--four-fifths page-content">
                  <h2  class="grid__item large--one-whole text-center m-v-lg">Our Ingredients</h2>
                  <p class="grid__item large--one-half p-sm">
                    <span class="font-bold">INGREDIENT TESTING</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
                  <p class="grid__item large--one-half p-sm">
                    <span class="font-bold">FARM TO BEAUTY</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>

                  <p class="grid__item large--one-half p-sm">
                    <span class="font-bold">100% TOXIN FREE</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
                  <p class="grid__item large--one-half p-sm">
                    <span class="font-bold">50 PATENTS & COUNTING</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
              </div>

              <div class="grid">
                  <div class="grid__item large--four-fifths page-content">
                      <div class="grid">
                          <div class="grid__item large--one-whole m-t-lg">
                              <div class="grid">
                                  <div class="grid__item large--one-half no-padding medium---one-whole no-padding">
                                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-story-main1.jpg?15331262972050513304" class="our-story-image-4" border="0" alt="Sliced fruit picture" />
                                  </div>
                                  <div class="grid__item large--one-half no-padding medium---one-whole">
                                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-story-main2.jpg?15331262972050513304" class="our-story-image-5" border="0" alt="Ingredients picture" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="grid large--one-whole m-t-lg page-content">
                  <h2 class="grid__item large--one-whole text-center m-v-lg">Fruit Pigments</h2>
                  <div class="grid__item large--two-thirds page-content p-md">
                      <div class="grid">
                          <p class="grid__item large--one-whole">
                            This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                          </p>
                          <p class="grid__item large--one-whole">
                            This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                          </p>
                      </div>
                  </div>
                  <div class="grid__item large--one-whole no-padding">
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-story-3.jpg?1870357171635049059" class="center-image" border="0" alt="100% PURE(R) 12 Step Testing" style="margin:auto;display:block" />
                  </div>
              </div>


              <div class="grid m-t-lg page-content">
                  <h2 class="grid__item large--one-whole text-center m-t-lg">12 Step Testing</h2>
                  <div class="grid__item large--two-thirds page-content p-md">
                      <div class="grid">
                          <p class="grid__item large--one-whole">
                            This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                          </p>
                      </div>
                  </div>
                  <div class="grid__item large--one-whole no-padding">
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-story-3.jpg?1870357171635049059" class="center-image" border="0" alt="100% PURE(R) 12 Step Testing" />
                  </div>
              </div>

              <div class="grid m-t-lg page-content">
                  <h2 class="grid__item large--one-whole text-center m-t-lg">The Future</h2>
                  <div class="grid__item large--two-thirds page-content p-md">
                      <div class="grid">
                          <p class="grid__item large--one-whole">
                            This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                          </p>
                          <p class="grid__item large--one-whole">
                            This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                          </p>
                      </div>
                  </div>
              </div>
      </div>
</div>
