<title>Careers - 100% PURE</title>
<div class="container">
    <div class="grid m-t-lg">
        <div class="grid__item medium--one-whole m-t-lg top">
            <h1 class="text-center textBoxHeader">Health, Beauty, Passion</h1>
      <hr class="header-line" />
            <div class="topContent">
                <p class="m-b-md">Purity Cosmetics strives to create natural, healthy beauty products for the eco-conscious consumer. Our brands include our flagship; 100% PURE, as well as many other collaborations including Puristry. We are always in the search of talented individuals passionate about healthy beauty. Please apply for our open positions below for an opportunity to join our team.
                </p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item medium--one-whole">
            <div class="image-container">
                <img src="//cdn.shopify.com/s/files/1/0648/1955/files/career_page_join_us_banner.jpg" class="img-responsive" border="0" alt="100% PURE company photo"/>
            </div>
        </div>
    </div>
    <div class="grid m-t-lg">
        <div class="grid__item medium--one-whole m-t-lg">
      <h2 class="text-center textBoxHeader">What We Are About</h2>
      <hr class="header-line" />
        </div>
    </div>
    <div class="grid p-h-md">
        <div class="grid__item medium-down--one-whole large--one-third m-t-lg p-h categoryDiv">
            <h3 class="text-center textBoxSubHeader">Customer</h3>
            <p class="textBox">Purity Cosmetics is driven by the customer. All our departments work endlessly to ensure customers are more than satisfied; from the conception of a formula all the way to our customer support, we never stop working for the customer.</p>
        </div>
        <div class="grid__item medium-down--one-whole large--one-third m-t-lg p-h categoryDiv">
            <h3 class="text-center textBoxSubHeader">Social Impact</h3>
            <p class="textBox">At Purity Cosmetics, we do all we can to benefit local charities and help those who truly need it the most. We often choose a day each month and donate our profits from the day to a specific cause dear to our hearts.</p>
        </div>
        <div class="grid__item medium-down--one-whole large--one-third m-t-lg p-h categoryDiv">
            <h3 class="text-center textBoxSubHeader">Healthy Living</h3>
            <p class="textBox">Purity Cosmetics does not only believe in creating the purest products in the world, but we also believe in staying active and living a healthy lifestyle. We encourage all employees to participate in our daily exercise group or play basketball on our new court!</p>
        </div>
    </div>
    <div class="grid m-t-lg">
      <div class="grid__item medium--one-whole m-t-lg">
        <h2 class="text-center textBoxHeader">Job Openings</h2>
        <hr class="header-line" />
      </div>
    </div>
    <div class="grid">
      <div class="grid__item medium--one-whole m-b">
      <div class="bebop-jobs"></div>
        <script id="bebop-embed-loader" defer src="https://hire.withgoogle.com:443/s/embed/jobs.js?company=puritycosmeticscom"></script>
      </div>
    </div>
</div>
