<div class="bg-img large--p-v" style="background-image: url('https://res.cloudinary.com/purity/image/upload/{{settings.cloudinary_image_version}}/pure_temporary/page_galentines/bg.png')">
  <div class="wrapper p-v-xlg large--m-v-xlg">
    <div class="margin-auto large--six-twelfths bg-white large--m-v-lg b-a b-primary">
      <div class="medium-down--p">
        <form action="https://www.getdrip.com/forms/3299661/submissions" method="post" data-drip-embedded-form="3299661">
          <div class="large--m-h-lg">
            <h3 data-drip-attribute="headline" class="module_title_text text-center m-t-lg">Show Your Galentine Some Love</h3>
            <label for="drip-first-name" class="inline medium-down--one-whole callout_text m-t-md large--m-h-lg">GALENTINE'S NAME</label>
            <span class="block medium-down--one-whole large--m-h-lg">
              <input class="w-full no-b-t no-b-l no-b-r no-padding-l b-light box-shadow" size="35" type="text" id="drip-first-name" name="fields[first_name]" value="" placeholder="Enter Galentine’s First Name" />
            </span>
            <label class="inline medium-down--one-whole callout_text m-t-md large--m-h-lg" for="drip-email">GALENTINE'S EMAIL:</label>
            <span class="block medium-down--one-whole large--m-h-lg">
              <input class="w-full no-b-t no-b-l no-b-r no-padding-l b-light box-shadow" size="35" type="email" id="drip-email" name="fields[email]" value="" placeholder="Enter Galentine's Email Address" />
            </span>
            <label class="inline medium-down--one-whole callout_text m-t-md large--m-h-lg" for="drip-sender-name">SENDER'S EMAIL:</label>
            <span class="block medium-down--one-whole large--m-h-lg">
              <input class="w-full no-b-t no-b-l no-b-r no-padding-l b-light box-shadow medium-down--m-b-xlg" size="35" type="text" id="drip-sender-name" name="fields[sender_name]" value="" placeholder="Enter Your Email Address"/>
            </span>
            <div class="hide" aria-hidden="true">
              <label for="website">Website</label><br>
              <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
            </div>
          </div>
          <input class="btn btn-secondary w-full h-2x m-t-md p-v" type="submit" value="Send Love" data-drip-attribute="sign-up-button" />
        </form>
      </div>
    </div>
  </div>
</div>
