
<section class="grid">
  <h1 class="m-t-lg text-center">Trending Products</h1>
  <div id="TrendingProducts" class="grid__item one-whole text-center"></div>
</section>

{% include '_scripts-trending-page' %}
