<section class="collection-banner__inner text-center bg-img about-us-header" aria-label="page banner">
  <div class="one-whole wrapper">
    <h1 class="page_title_text">Our Mission</h1>
  </div>
</section>
<div class="wrapper m-t-xlg text-center about-us-content">
  <p class="five-sixths margin-auto content_text">100% PURE™ isn’t just our name. Or just our ingredient list. 100% PURE™ is a commitment to producing the purest, healthiest products and educating everyone on why being 100% PURE™ is so important. We strive to live with compassion, kindness and empathy; to be environmentally sustainable and to improve the lives of 6 billion people and animals while also being charitable and giving back to our global community.</p>
  <div class="">
    <p class="text-center section_title_text m-t-xlg p-t-lg m-b-lg">Meet Our Founders</p>
    <div class="gird three-quarters margin-auto o-f-hid m-b-xlg">
      {%- include 'page-about-us-founder', about_href: '/pages/susie-wang', about_img_url: 'pure_temporary/about_us_susie', about_name: 'Susie Wang', about_title: 'FOUNDER.<br>CHIEF CREATIVE.', about_description: '“My mission is to create the absolute healthiest, purest, most nourishing formulas.”' -%}
      {%- include 'page-about-us-founder', about_href: '/pages/james-wang', about_img_url: 'pure_temporary/about_us_james', about_name: 'James Wang', about_title: '<br class="medium-down--hide">FOUNDER. COO.', about_description: '“I am committed to producing the highest quality products.”' -%}
      {%- include 'page-about-us-founder', about_href: '/pages/ric-kostick', about_img_url: 'pure_temporary/about_us_ric', about_name: 'Ric Kostick', about_title: '<br class="medium-down--hide">FOUNDER. CEO.', about_description: '“My goal is to make the biggest, positive change.”' -%}
    </div>
  </div>
  <div class="">
    <p class="text-center section_title_text m-t-xlg p-t-lg m-b-lg">Our Natural Ingredients</p>
    <div class="grid">
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-guaranteed-pure.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Guaranteed PURE</span>
        <p class="caption_text m-t">All 100% PURE™ formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-naturally-pigmented.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Naturally Pigmented</span>
        <p class="caption_text m-t">We source our pigments from fruit, vegetables, tea, and cocoa to avoid commonly used FD&C colorants and heavy metal dyes</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-completely-cruelty-free.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Completely Cruelty-Free</span>
        <p class="caption_text m-t">Our commitment to animal welfare means that we will never, EVER test on animals – and that our products will always be certified cruelty-free</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-ingredient-sourcing.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Ingredient Sourcing</span>
        <p class="caption_text m-t">We go through a painstaking process to make sure each ingredient sourced is never animal sourced</p>
      </div>
    </div>
  </div>
  <div class="b-a b-peach p-xlg m-v-xlg">
    <p class="text-center section_title_text m-b-lg">How We Define Natural:</p>
    <p class="caption_text">An ingredient or formula composed of plant, mineral, and/or marine vegetation that undergoes chemical changes due to biological processes such as fermentation, distillation, and cold processing</p>
  </div>

  <div class="about-us-collection flex a-i-center j-c-end" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/about_us_collection.png')">
    <div class="one-half medium-down--hide text-center">
      <p class="module_title_text m-b-lg">Kick-Start Your Clean Beauty Routine</p>
      <a href="/collections/best-sellers" class="select-btn btn btn-secondary add-to-cart-modal no-m-v-gutter p-h-lg available">SHOP BEST SELLERS</a>
    </div>
  </div>
  <div class="large--hide text-center m-t m-b-xlg p-b-xlg">
    <p class="module_title_text m-b">Kick-Start Your Clean Beauty Routine</p>
    <a href="/collections/best-sellers" class="select-btn btn btn-secondary add-to-cart-modal no-m-v-gutter p-h-lg available">SHOP BEST SELLERS</a>
  </div>
</div>


