{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 10/15/19 1:13PM
{% endcomment %}
<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--one-whole">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      <div id="talkable-offer"></div>

    </div>

  </div>

</div>
