<section class="collection-banner__inner banner-img__left text-center" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/Collection-Banner/CP-product-finder')" aria-label="collection page banner">
  <div class="one-whole wrapper">
    <div class="one-half right p-h-xlg">
      <h1 class="page_title_text">Product Finder</h1>
    </div>
  </div>
</section>
<div class="p-h hide small--show m-t">
  <h1 class="page_title_text text-center">{{ collection.title }}</h1>
</div>
<div class="wrapper m-t-xlg">
  {%- include '_find-skin-care' -%}
  {%- include '_find-product' -%}
</div>
<div class="wrapper m-t-xlg">
  {%- include '_find-foundation' -%}
  {%- include '_find-product' -%}
</div>
