<h1 class="m-t-md text-center">{{ page.title }}</h1>
<h4 class="text-center"><em>{{ page.content }}</em></h4>
<div class="o-f-hid m-t-xlg m-b-xlg flex f-d-row-r medium-down--f-d-column">
  <div class="large--one-half large--p-md text-center flex f-d-column j-c-center p-h-sm">
    <img
      src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_return/return.png"
      data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_return/return.png"
      class="cld-prepare"
      alt="product return image" />
  </div>
  <div class="large--one-half large--p-md flex f-d-column p-h-sm medium-down--m-t">
    <p class="content_text">We’re purists: we believe you should be 100% satisfied with your products. Because our products are made with the cleanest and most nourishing ingredients, it’s easy to stand behind them. That being said, if a product isn’t the right fit for you, we will be here to help.</p>
    <br />
    <p class="content_text">If for any reason you’re not satisfied, we will gladly offer an exchange or refund on gently used products within 60 days of purchase from 100percentpure.com (minus the cost of shipping). After 60 days, returns will be eligible for a store credit.*</p>
    <br /><br />
    <p class="content_text m-t-xlg medium-down--m-t"><small>*We monitor returns and reserve the right to refuse service to anyone that may misuse or abuse the policy.</small></p>
  </div>
</div>
<div class="m-v-lg medium-down--m-t medium-down--m-b">
  <div class="grid">
    <div class="grid__item">
      <div class="m-v large--p-l-md p-h-sm text-left">
        <p class="content_text">To return or exchange your order, please contact our customer service team:</p>
        <div class="m-v">
          <p class="text-md-lg alt-font"><img src="https://cdn.shopify.com/s/files/1/0648/1955/files/call_icn.png?v=1615881614" class="v-m" /> <b>1-844-787-3100</b></p>
          <p class="text-md-lg alt-font"><img src="https://cdn.shopify.com/s/files/1/0648/1955/files/email_icn_480x480.png?v=1615881622" alt="" class="v-m" /> <b>customerservice@puritycosmetics.com</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m-v-lg">
  <div class="grid">
    <div class="grid__item">
      <div class="m-v large--p-l-md m-t-lg p-h-sm text-left">
        <p class="section_title_text m-b-lg alt-font medium-down--m-b">Returns FAQ</p>
        <div class="m-v">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">How do I place a return or exchange?</p>
          <p class="content_text m-t medium-down--m-t content_text">We're sorry you didn't love your 100% PURE™ products. Please reach out to our customer service team at customerservice@puritycosmetics.com with your order number and the products you'd like to exchange or return, and we'll be happy to help you.</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">How long does it take to process a return?</p>
          <p class="content_text m-t medium-down--m-t content_text">Credit card refunds usually take 5-10 business days to appear on your statement once the return is processed.</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">What should I do if I receive the wrong product?</p>
          <p class="content_text m-t medium-down--m-t content_text">We’re sorry about that! If you received a product different from the one that you ordered please contact us at customerservice@puritycosmetics.com and we’ll be sure to get you the 100% Pure™ product you ordered!</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">How do gift returns or exchanges work?</p>
          <p class="content_text m-t medium-down--m-t content_text">If you were gifted a 100% PURE™ product but it isn't what you had in mind, you can return your items for store credit. Please reach out to customerservice@puritycosmetics.com with the gifter's first and last name, email address, and the products you’d like to return or exchange (the gifter won’t be notified of any changes). Once locating the original order, we'll take care of it!</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">Are there certain items that are non-refundable?</p>
          <p class="content_text m-t medium-down--m-t content_text">Yes. Items marked as final sale, partial return of gift sets and free gifts or promotional items are not eligible for returns.</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">What is your return policy for items purchased in-store?</p>
          <p class="content_text m-t medium-down--m-t content_text">If you make a purchase at a 100% PURE™ store, you can return or exchange your items accompanied with a valid receipt up to 60 days from the purchase date to any store location. Returns without receipt will be eligible for a store credit.</p>
        </div>
        <div class="m-v-lg">
          <p class="module_title_text m-t medium-down--m-t-xs alt-font">Can I return an item I purchased online, in-store?</p>
          <p class="content_text m-t medium-down--m-t content_text">Yes. All items purchased on 100percentpure.com (except for final sale) are eligible for return to any store location.</p>
        </div>
      </div>
    </div>
  </div>
</div>
