<!-- /templates/page.liquid -->
<div class="grid wrapper">

  <div class="grid__item large--one-whole page-content">

            {% include "_page.menu" %}

            <h1 class="text-center">100% Cruelty-Free</h1>
            <div class="grid large--four-fifths page-content m-b-md">
              <div class="grid__item large--one-whole text-center">
                <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br />
                <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>

              <div class="grid m-v-lg">
                <div class="grid__item large--one-whole no-padding page-content">
                      <div class="grid__item large--one-third medium--one-whole">
                        <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/beauty-with-benefits1.jpg?717104744997732683" class="our-story-image-1 " border="0" alt="" />
                      </div>
                      <div class="grid__item large--two-thirds medium--one-whole">
                        <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-values-image-2.jpg?9547708324158585276" border="0" alt="" />
                      </div>
                  </div>
              </div>

              <h1 class="text-center">The No-List</h1>
              <div class="grid large--four-fifths page-content m-b-md">
                <div class="grid__item large--one-whole text-center">
                  <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>

              <div class="grid large--four-fifths m-b-lg page-content">
                  <h2  class="grid__item large--one-whole text-center m-v-lg">Our Ingredients</h2>
                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">INGREDIENT TESTING</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">FARM TO BEAUTY</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>

                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">100% TOXIN FREE</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">INGREDIENT TESTING</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">FARM TO BEAUTY</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>

                  <p class="grid__item large--one-third p-sm">
                    <span class="font-bold">100% TOXIN FREE</span><br />
                    This Pretty Naked Palette will make you look gorgeous, naturally. Soft, neutral tones that will enhance and beautify without making you look too made up. 100% Natural, nourishing formulas packed with antioxidants, vitamins and beautiful colors from pigments of fruits, seeds, flowers and vegetables.
                  </p>
              </div>

              <div class="grid m-t-lg p-v-lg page-content">
                  <div class="grid__item large--one-whole no-padding">
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-values-image-3.jpg?7615399319468671759" class="center-image" border="0" alt="100% PURE(R) 12 Step Testing" style="margin:auto;display:block" />
                  </div>
              </div>


              <div class="grid large--four-fifths page-content">
                  <h2  class="grid__item large--one-whole text-center m-v-lg">Philanthropy</h2>
              </div>

              <div class="grid large--four-fifths page-content m-b-md">
                <div class="grid__item large--one-whole text-center">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <br />
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>

              <div class="grid m-t-lg p-v-lg page-content">
                  <div class="grid__item large--one-whole no-padding">
                    <img src="https://cdn.shopify.com/s/files/1/0654/4373/files/our-values-image-4.jpg?12310835461277452379" class="center-image" border="0" alt="100% PURE(R) 12 Step Testing" style="margin:auto;display:block" />
                  </div>
              </div>

      </div>
</div>
