<section class="collection-banner__inner text-center bg-img" aria-label="page banner" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v31/pure_temporary/page_affiliate/affiliate-page')">
  <h1 class="page_title_text wrapper">{{page.title}}</h1>
</section>
<section class="wrapper">
  <div class="text-center three-quarters m-t-xlg margin-auto content_text">
    <p>At 100% PURE®, we're focused on providing healthy skin care, cosmetics, bath and body products. All of our products are natural, cruelty-free, and free of artificial colors, fragrances, and synthetic preservatives. We believe in offering healthy food for your skin so you can feel great inside an out.</p>
    <p class="m-t-lg">Be a part of a program that brings revolutionary products to the market. Sign up for 100% PURE® Affiliate Program and start earning once approved!</p>
  </div>
  <div class="grid grid-uniform m-t-xlg p-t-xlg">
    <div class="grid__item large--one-quarter medium-down--one-half m-b-lg">
      {%- include 'icon-affiliate-1.svg', additionalClass: "two-fifths m-b", iconColor: "#E5878B" -%}
      <span class="block caption_text m-b-sm alt-font">NO.1</span>
      <span class="block module_title_text m-b-sm alt-font">MAKE 8% COMMISSION</span>
      <p class="caption_text m-t">Receive 8% base commission on sales from affiliate links on your social platforms</p>
    </div>
    <div class="grid__item large--one-quarter medium-down--one-half m-b-lg">
      {%- include 'icon-affiliate-2.svg', additionalClass: "two-fifths m-b", iconColor: "#E5878B" -%}
      <span class="block caption_text m-b-sm alt-font">NO.2</span>
      <span class="block module_title_text m-b-sm alt-font">GET INSIDER INFO</span>
      <p class="caption_text m-t">Be the first to receive insider promotion newsletter, new product launches, events and PR giveaways</p>
    </div>
    <div class="grid__item large--one-quarter medium-down--one-half m-b-lg">
      {%- include 'icon-affiliate-3.svg', additionalClass: "two-fifths m-b", iconColor: "#E5878B" -%}
      <span class="block caption_text m-b-sm alt-font">NO.3</span>
      <span class="block module_title_text m-b-sm alt-font">FULLY TRACKED COOKIE</span>
      <p class="caption_text m-t">45 days of tracking cookie and full access to your own affiliate performance dashboard</p>
    </div>
    <div class="grid__item large--one-quarter medium-down--one-half m-b-lg">
      {%- include 'icon-affiliate-4.svg', additionalClass: "two-fifths m-b", iconColor: "#E5878B" -%}
      <span class="block caption_text m-b-sm alt-font">NO.4</span>
      <span class="block module_title_text m-b-sm alt-font">EXCLUSIVE BRAND DEAL</span>
      <p class="caption_text m-t">Long term affiliates with good partnership records will receive exclusive brand deal from 100% Pure</p>
    </div>
  </div>
  <div class="large--one-half margin-auto text-center m-b-xlg">
    <a href="https://ascend.pepperjam.com/affiliate/registration.php?refid=230291" target="_blank" rel="noopener" class="btn btn__bg-filled--secondary p-h-xlg1 m-v-xlg">Apply Now</a>
    <p class="content_text">Have more questions about affiliate program? </p>
    <p class="content_text">Contact us via E-Mail <a href="mailto:affiliates@100percentpure.com">affiliates@100percentpure.com</a></p>
  </div>
</section>
